/* Place CSS styles here */

body {
    /* distribute font to entire site */
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 20px;
}



h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
}


span a {
    color: white;
    justify-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
}




h1 
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Rubik', sans-serif;
    font-weight: 400; 
    text-transform: uppercase; 

}

a {
  text-align: center;
   text-decoration: none;
}

.burrito {
  display: flex;
  align-items: center;
  justify-content: center
}


.burrito-text h1 {
  font-size: 12px;
  padding-left: 20px;
  color: white;
}

.burrito-text p {
  font-size: 8px;
  color: white;
  padding-left: 20px;
  padding-top: 20%;
}


.burrito-container {
  max-width: 500px;
}


.val-header {
  background-color: black;
}

.val-header nav {
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 80px;
    padding: 30px;
    font-size: 20px;
    
    }

.buttons-on-header nav {
  justify-content: right;
  align-items: center;
  display: flex;
  gap: 80px;
  padding: 30px;

}


.buttons-on-header nav a {
  color: white;
  align-items: center;
  justify-content: top;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: black;
}

.val-header nav a {
    color: white;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: black;
}

.val-header nav a img {
   justify-content: top;
}

.val-header nav img {
    justify-content: center;
    width: 40px;
}


.val-intro {
    background-color: pink;
    display: flex;
    justify-content: center; 
    }

.val-smaller-image {
width: 70%
}

.val-row-3-tiles {
color: white;
display: flex;
justify-content: center;
gap: 100px;
background-color: black;

}

.val-row-3 {
    background-color: black;
    padding: 30px;

}


.val-featured-image {
min-height: 300px;
height: 700px;
background: url(../img/CatCollage_2.png);
background-repeat: no-repeat; 
background-size: cover;
background-position: center center; 
}


 .grid {
    max-width: 60 rem;
    margin: 0 auto;
    display: grid;
    gap: 1em; 
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
  }

  .featured {
    grid-column: span 3;
  }
  
  .grid > * {
    break-inside: avoid;
    margin-bottom: var(--gap);
  }
  
  @supports (grid-template-rows: masonry) {
    .grid {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: masonry;
      grid-auto-flow: dense;
      /* align-tracks: stretch; */
    }
  
    .grid > * {
      margin-bottom: 0em;
    }
  }
  
  
  :root {
    --ff-primary: basic-sans, sans-serif;
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: black;
    --spacer: 1rem;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: clamp(2rem, 1rem + 3vw, 6rem);
    font-weight: 300;
    line-height: 1;
    opacity: 0.2;
  }
  
  .flow > * + * {
    margin-top: var(--flow-space, var(--spacer));
  }
  
  body {
    font-family: var(--ff-primary);
    min-height: 100vh;
    font-size: 1em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-bg);
    padding-bottom: 13rem;
  }
  
  a {
    color: var(--clr-primary);
  }
  
  img {
    max-width: 100%;
  }
  
  .content {
    padding: 2em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    background: white;
  }
  
  .title {
    font-weight: 900;
    color: var(--clr-primary);
    line-height: 0.8;
  }
  


 .Footer-Poo-Main {
    color: gray;
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    display: flex;
    justify-content: flex-end
 }

 